<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/deept/IdeaProjects/APIAutomationFramework">
        <classes>
            <class name="tests.CRUD.Test_CreateBooking_POST">
                <methods><include name="test001"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>